
.wrapper {
    padding: 1.0625rem 0.75rem;
}

.wrapper .container {
    width: calc(100vw - 2 * 12px);
    min-width: 300px;
    height: 100%;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 5px;

    @media screen and (min-width: 481px) and (max-width: 960px) {
        width: calc(100vw - 2 * 14px);
        max-width: 450px;
        padding: 1.2rem;
    }

    @media screen and (min-width: 961px) {
        width: calc(100vw - 2 * 16px);
        max-width: 500px;
        padding: 1.5rem;
    }
}

.content {
    height: 54.18vh;

    @media screen and (min-width: 481px) and (max-width: 960px) {
        height: 40vh;
    }

    @media screen and (min-width: 961px) {
        height: 40vh;
    }
}
